<p id="notice"><%= notice %></p>

<h1>Levels</h1>

<% @levels.each do |level| %>
     <%= render partial: "levelsummary", locals: {level: level} %>
      
      <br />
      
      <%= link_to 'Show', level %>
      <%= link_to 'Edit', edit_level_path(level) %>
      <%= link_to 'Destroy', level, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<br>

<%= link_to 'New Level', new_level_path %>
