<p id="notice"><%= notice %></p>

<h1>Listing Gamers</h1>

<table>
  <thead>
    <tr>
      <th>Gamer tag</th>
      <th>Level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gamers.each do |gamer| %>
      <tr>
        <td><%= gamer.gamer_tag %></td>
        <td><%= gamer.level_id %></td>
        <td><%= link_to 'Show', gamer %></td>
        <td><%= link_to 'Edit', edit_gamer_path(gamer) %></td>
        <td><%= link_to 'Destroy', gamer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gamer', new_gamer_path %>
